* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#gameCanvas {
  background: url("../images/background.jpg") center/cover no-repeat;
  display: block;
  width: 100vw;
  height: 100vh;
}

.hud {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.hud__weapon,
.hud__score {
  font-size: 18px;
  color: greenyellow;
}

.explosion {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("assets/images/explosion.png");
  background-size: cover;
  pointer-events: none;
  animation: explode 0.3s ease-out;
}

@keyframes explode {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.hud__highscore {
  color: gold;
  font-weight: bold;
}

.store {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-radius: 5px;
  text-align: left;
  z-index: 10;
  width: 200px;
  color: white;
}

.store__title {
  font-size: 18px;
  color: gold;
  margin-bottom: 10px;
  text-align: left;
}

.store__coins {
  font-size: 16px;
  margin-bottom: 10px;
  color: lightgreen;
  text-align: left;
}

.store__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.store__item {
  display: flex;
  justify-content: center;
}

.store__btn {
  background: linear-gradient(to right, #1f1f1f, #3a3a3a);
  color: lightcyan;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.store__btn:hover {
  background: linear-gradient(to right, #2c2c2c, #555);
}
